*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 1000vh;
    background-color: palevioletred;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;

}
button{
    width: 50px;
    height: 30px;
    margin-left: 20px;
    background-color: azure;
}
#okay{
    visibility: hidden;
}